body {
  background-image: url("./x.svg");
  text-align: center;
}
nav {
  background-color: white;
  width:100%;
  position: fixed;
  top:0px;
  left:0px;
  height:80px;
  padding-top:50px;
  box-shadow: 10px 5px 5px 5px white;
  font-family:'Courier New';

}
a {
  text-decoration: none;
  font-weight: bold;
  margin-left: 80px;
}
#contact{
    margin-left: 200px;
}
main{
    margin-top:200px
}
#profile-image{
    border-radius:50%
}
ul{
    list-style: none
}
.section-work{
    background-color: rgb(188, 182, 182);
    width:550px;
    margin:auto;
    border-radius:10px
}
#contact-me:hover,.section-work:hover{
    cursor:pointer;
    background-color:gray
}
#contact-me{
    background-color:#3d83df;
    width:550px;
    margin:50px auto 100px auto;
    border-radius:10px;
}
input,textarea{
    margin-top:20px;
    border-radius:10px
}
button{
    border:none;
    box-shadow: 5px 2px 5px 5px white;
    margin-bottom:20px ;
}
.profile-items{
    background-color:white;
    width:100%;
    position: fixed;
    bottom:0px;
    left:0px
}
.item-one{
    float:left;
}
.item-two{
    float:right;
    border-radius:50px
}
.profile-items{
    padding-top:10px
}